.container {
    margin-top: 9vh;
    margin-right: auto;
    margin-left: auto;
    
    height: 100vh;
    width: 80%;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#bfbfbf;
    height: 1px;
  }


  
  .card {
      width: 300px;
      padding: 1rem;
      margin: 1rem auto 0; 
    

      border-radius: 18px;
      background: whitesmoke;
      -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      text-align: center;
  }



  .card-text {
 
    margin: 25px;
  }

  .card-text .date {
      color: #4285f4;
      font-size: 16px;
      font-weight: 800;
  }

  .card-note {
      color: grey;
      font-size: 18px;
      font-weight: 300;
      text-align: left;
  }

  .info {
    color: grey;
    font-size: 14px;
    font-weight: 300;
    display: inline;
    margin: 0px 10px 0px 10px;
}

  .card-text h2 {
      margin-top: 0px;
      font-size: 24px;
  }

  .entry-options {
      font-size: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      width: 50%;
      cursor: pointer;
  }

  .rmEntryBtn {
      border: none;
      outline: none;
      padding: 0 0.5rem 0 0.5rem;
      background-color:#4285f4;
      color: #ffffff;
  }

  .rmEntryBtn:hover {
    background-color: #dcdcdc;
    color: #4285f4;
  }

  /* .entry-form {

  } */

  .modalHeader {
      display: flex;
      align-content: center;
      justify-content: space-between;
  }
  .addEntryInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .addEntryInputGroup {
      display: block;
      width: 100%;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      text-align: left;

  }

  .addEntryInputGroup > label {
    color: #387ce9;
    padding-bottom: 1rem;
    float: left;
    /* font-weight: 600; */
  }

  .addEntryInputGroup > input, select {
      float: right;
      width: 100%;
      height: 2.5rem;
      border: none;
      outline: none;
      border-radius: 10px;
      background: #f8f8f8;
      
  }

  .addEntryInputGroup > input:focus {
    border: none;
    outline: none;
    border-radius: 10px;
    background: rgba(0,0,0,.09);
    
  }

  .entrySubmitBtnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .entrySubmitBtn {
      border: none;
      outline: none;
      text-decoration:none;
      padding: 0.5rem 1rem 0.5rem 1rem;
      font-weight: 600;
      letter-spacing: 0.1em;
      color: #ffffff;
      background: #387ce9;
  }

  .closeModalBtn {
    border: none;
    outline: none;
    height: 2rem;
    width: 2rem;
    font-weight: 600;
    color: #ffffff;
    background: #387ce9;
  }
